@import "variables";

.layaout__default-theme {
    width: 980px; 
    margin: auto;
}

.sidebar_default-theme {
    background: $violetColor; /* Цвет фона */
    width: 180px; /* Ширина колонки */
    float: left; /* Обтекание справа */
    height: 100vh;
    color: white;
}

.main-content_default-theme {
    // background: #F4ECCE; /* Цвет фона */
    margin-left: 180px; /* Отступ слева */
    padding: 10px;
    height: 100vh;
}

.sidebar__ul_default-theme {
    padding: 0;
    margin: 0;
}

.sidebar__li_default-theme {
    padding: 5px;
    margin: 5px;
    background-color: $darkVioletColor;
    list-style-type: none;

    &:hover {
        background-color: $lightVioletColor;
    }
}